@model APOD

<div class="text-center">
    @{
        string base64 = Convert.ToBase64String(Model.Hdurl ?? new byte[0]);
        string ImgSRC = String.Format($"data:image/jpeg;base64,{base64}");
        <img class="border-radius" style="width: 275px; height: 275px; overflow:hidden;" src="@ImgSRC">
    }
</div>
